
.main .banner {
    height: 400px;
    overflow: hidden;
    position: relative;
}
.main .contain {
    height: 400px;
    overflow: hidden;
    position: relative;
}
.main .opt{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.main .opt .allow{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 185px;
    font-size: 42px;
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;

}
.main .opt .left{
    left: 300px;
    text-align: center;
    z-index: 2;
    border-radius: 100%;
}
.main .opt .left:hover{
    background-color: rgb(0,195,255);
}
.main .opt .right{
    right: 300px;
    text-align: center;
    z-index: 2;
    border-radius: 100%;
}
.main .opt .right:hover{
    background-color: rgb(0,195,255);
}
.main .opt .dots{
    height: 20px;
    width: 150px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    left: 650px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 5px;

}
.main .opt .dots .dot {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}
.main .opt .dots .dot.active {
    height:15px;
    width: 15px;
    border:1px solid black;
    background-color: rgb(0,195,255);
}
.main .banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 320px;
    width: 690px;
}
.main .hot {
    padding-top: 0px;
}

.main .hot .info {
    width: 1080px;
    margin: 0 auto;
    display: flex;
}

.main .hot .info .list {
    width: 800px;
    height: 100%;
}

.main .hot .info .list .blog-item {
    background-color: white;
    margin: 15px;
    padding: 15px;
    border-bottom: gray dashed 3px;
}

.main .hot .info .list .blog-item .blog-title {
    height: 30px;
}

.main .hot .info .list .blog-item .blog-title h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
}

.main .hot .info .list .blog-item .blog-title h2 a {
    color: black;
}

.main .hot .info .list .blog-item .blog-title h2 a:hover {
    color: #7c8ce4;
}

.main .hot .info .list .blog-item .blog-profile {
    height: 50px;
}

.main .hot .info .list .blog-item .blog-profile p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main .hot .info .list .blog-item .blog-info {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .hot .info .list .blog-item .blog-read {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding-left: 660px;
}

.main .hot .info .list .blog-item .blog-tag {
    height: 40px;
    display: flex;
}
.main .hot .info .list .blog-item .blog-tag .tag-success {
    z-index: 2;
}
.main .hot .info .user {
    width: 280px;
    height: 340px;
    background-color: white;
    margin: 15px;
}

.main .hot .info .user .avatar {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .hot .info .user .avatar .avatar-img {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.main .hot .info .user .avatar .avatar-img img {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 30%;
}
.main .hot .info .user .avatar .avatar-img img:hover {
    transform: scale(1.1,1.1);
 }

.main .hot .info .user .name h4 {
    text-align: center;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
}

.main .hot .info .user .profile p {
    text-align: center;
}

.back-top {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 100px;
    cursor: pointer;
}
